* {
    margin: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    background-color: aquamarine;
    gap: 20px;
    height: 40px;
    padding: 0 40px;
    font-size: 25px;
    justify-content: flex-end;
}