#nav {
    display: flex;
    height: auto;
    width: 98%;
    margin: auto;
    padding: 5px;
    background-color: black;
    justify-content: space-between;
    border-radius: 16px;
    cursor: mo;
}

.text {
    display: flex;
    justify-content: space-between;
}

#logo {
    color: rgb(252, 254, 255);
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

form+div>h2 {
    color: rgb(252, 254, 255);
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}