.create_account {
    display: grid;
    grid-template-columns: 46% 46%;
    padding: 1%;
    gap: 2%;
    color: rgb(87, 84, 84);
    padding: 2%;
}

.account {
    margin-left: 80px;
}

.account>input {
    width: 70%;
    height: 14%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 6px 20px;
}

.account>button {
    width: 71.5%;
    margin: 40px 20px;
    height: 14%;
    background-color: orange;
    border-radius: 5px;
    border: 1px solid orange;
    color: white;
    font-size: 20px;
}

.text {
    font-size: large;
    line-height: 25px;
}

.upper {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    color: orange;
}

.hr {
    width: 100%;
    border: 1px solid orange;
}

#name {
    margin-left: 50px;
}

#username {
    margin-left: 20 px;
}

#mobile {
    margin-left: 20px;
}

#email {
    margin-left: 50px;
}

#password {
    margin-left: 26px;
}

.p {
    font-size: small;
    margin: -30px 0 0 100px;
}

#RegisterBtn {
    margin-left: 90px;
}