
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1px;
    border-bottom: 1px solid white;
}

ul{
    list-style: none;
    display: flex;
}

li {
    margin-right: 1px;
}

a {
    text-decoration: none;
}
a:hover {
    color: teal;
}

.input__div{
    display: flex;
    justify-content: center;
    padding-block-start: 2rem;
}


.input__div > input {
    block-size: 2rem;
    background-color: grey;
    border: none;
    border-radius: 5px;
    margin-inline-end: 2rem;

}

.input__div > button {
    background-color: grey;
    padding-inline-start: .5rem;
    padding-inline-end: .5rem;
    block-size: 2rem;
    border-radius: 5px;
}

.allTodo__div {
    display: flex;
    flex-direction: column;
}

.allTodo__div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 1rem;
}

.allTodo__div > div > div {
    margin-inline-end: 1rem;
}

.allTodo__div > div > div:nth-child(2) > button {
    background-color: gray;
    padding: 0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    border-radius: 5px;
}

.allTodo__div > div > div:nth-child(3) > button {
    background-color: gray;
    padding: 0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    border-radius: 5px;
}