
*,  html, body, div {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/*-------- NAVBAR CSS properties -------*/
#navbar__div{
    display: flex;
    margin-top: 1%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1px;
    border-bottom: 1px solid white;
    padding-top: 1rem;
}

#navbar__div>div>h1{
    font-size: 30px;

}

#navbar__div>div>h1:hover{
    color: aqua;
    cursor: pointer;
}

ul{
    list-style: none;
    display: flex;
}

li {
    justify-content: space-around;
    margin-left: 6%;
    font-size: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:hover {
    color: teal;
    cursor: pointer;
}

/* Input__div CSS For TODO APP (Un-necessary) */

.input__div{
    display: flex;
    justify-content: center;
    padding-block-start: 2rem;
}


.input__div > input {
    block-size: 2rem;
    background-color: grey;
    border: none;
    border-radius: 5px;
    margin-inline-end: 2rem;

}

.input__div > button {
    background-color: grey;
    padding-inline-start: .5rem;
    padding-inline-end: .5rem;
    block-size: 2rem;
    border-radius: 5px;
}

.allTodo__div {
    display: flex;
    flex-direction: column;
}

.allTodo__div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 1rem;
}

.allTodo__div > div > div {
    margin-inline-end: 1rem;
}

.allTodo__div > div > div:nth-child(2) > button {
    background-color: gray;
    padding: 0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    border-radius: 5px;
}

.allTodo__div > div > div:nth-child(3) > button {
    background-color: gray;
    padding: 0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    border-radius: 5px;
}