.body {
    background-color: lightsalmon;
}

.signin {
    /* border: 1px solid black; */
    height: 500px;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 150px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form>input {
    height: 30px;
    border-radius: 2.5px;
    outline: none;
    width: 88%;
    border: 1px solid;
    margin-top: 6%;
    padding-top: 1%;
}